@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
*{
    /* background-color: #FFF;; */
}
*{
   font-family: 'Work Sans', sans-serif;
}
/* primary scttion start */
.color-primary{
   color: #131313;
}
.scound-primary-color{
   color: #727272;
   font-weight: 400;
}
.background-primary{
   background-color: #FF900E;
}

/* primary section off */


header{
   background: rgba(255, 144, 14, 0.10);
}
.nav-section{
   display: flex;
   justify-content: space-around;
   align-items: center;
   
}
.nav-title{
font-size: 2.8rem;
font-weight: 700;
}

nav ul{
   display: flex;
   gap: 33px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 1.2rem;
    font-weight: 500;
}
/* banar siction */
.banar{
   text-align: center;
}
 .banar-title{
  font-size: 4rem;
  font-weight: 700;
 }
.banar-btm{
   color: #FFF;
   font-size: 1.1rem;
   font-weight: 600;
   padding: 12px;
   border-radius: 7px;
   border: 0;
}
header img{
   width:1100px;
   height: 600px;
}
.banar-img{
     margin-left: 220px;
     margin-right: 240px;
     margin-top: 40px;
}
/* banar section section off */

/* feature section start */
main{
   margin-left: 200px;
   margin-top: 60px;
   margin-right: 180px;
}
.features{
   display: flex;
}
.feature-img{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 13px;
}
.features img{
   width: 310px;
   
}
.feature-bio{
   margin-left: 80px;
   margin-top: 110px;
}
.colar{
 color: #FF900E ;  
}
.low-color{
   color: #727272;
}

/* feature section off */


/* expreance section strat */
.expreance-scetion{
   display: flex;
   margin-top: 60px;
    
}

.discription{
   color: #131313;
   font-size: 1.5rem;
    font-weight: 600;
}
.exp-sec-btm{
   border-radius: 8px;
   background: #FF900E;
   color: #FFF;
   font-size: 3.5rem;
   font-weight: 700;
   padding: 30px;
   border: none;
}
.position{
    position: relative;
       bottom: 100px;
        
}
#little-size{
   font-size: 1rem;
}
  
.expreance-scetion img{
   width: 550px;
   height: 900px;
   margin-left: 70px;
}
.ex-img-btm{
   margin-left: 90px;
   margin-top: 150px;
}
.box-disp{
   border-radius: 8px;
   background: #FFF;
   box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
   padding: 15px;
   margin-top: 10px;
}


/* expreance section off */

/* facts section strat */
.facts-section{
   text-align: center;
}
.products{
   display: flex;
   margin-top: 100px;

}
.product-disp{
   border-radius: 8px;
   border: 1px solid #FF900E;
   margin-left: 100px;
   text-align: center;
   padding: 30px;
}

/* facrs section off */

/* site section  */
.our-site{
    text-align: center;
    margin-top: 70px;
}
.site{
   margin-top: 50px;
  
}
.our-site img{
   margin-left: 100px;
   width: 110px;
}
/* site scetion off */

.footer-section{
   border-radius: 8px;
   background-color: #FFF4E7;
   margin-left: 240px;
   margin-right: 240px;
   margin-top: 70px;

}
.copy-right{
   text-align: center;
   padding: 40px;
}

/* madia scition max width 576px*/
@media screen and (max-width:576px) {
    
   .nav-section{
       flex-direction: column;
   }
   nav ul{
       gap: 20px;
       margin-right: 29px;
   }
   header img{
       width: 335px;
       height: 350px;
   }
   .banar-img{
       margin-left: 17px;
       margin-right: 0px;
       margin-top: 40px; 
}
.features{
   flex-direction: column;
}
.feature-img{
   grid-template-columns: repeat(1,1fr);
   margin-left: 50px;
}
main{
   margin-left: 0;
   margin-right: 0;
   margin-top:60px ;
}
.feature-bio{
   margin-top: 60px;
   margin-left:60px ;
}
.expreance-scetion{
   flex-direction: column;
}

.expreance-scetion img{
   width: 350px;
   height: 900px;
   margin-left: 0;
    
}
.position{
   position: relative;
      bottom: 100px;
       
}
.ex-img-btm{
   margin-left: 0px;
   margin-top: 50px;

}
.products{
display: grid;
grid-template-columns: repeat(2,1fr);
margin-top: 50px;
}
.product-disp{
   margin-left: 5px;
   margin-top: 5px;
}
.site{
   margin-right: 50px;
}
.footer-section{
   margin-left: 0px;
   margin-right: 0px;
}
}
/* madia mim-width 576 and max width 990px */
@media screen and (min-width:576px) and (max-width:990px) {
   header img{
       width: 600px;
       height: 500px;
   } 
   .banar-img{
       margin-left:140px ;
       margin-right: 0px;
   }

    main{
       margin-left: 0px;
    }
    .feature-bio{
       margin-left: 30px;
       margin-top: 50px;
    }
    .features img{
       width: 100px;
    }
    .ex-img-btm{
       margin-left: 90px;
       margin-top: 500px;
}
.products{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   margin-top: 50px;
   }
   .product-disp{
       margin-top: 100px;
   }
   .footer-section{
       margin-left: 0px;
       margin-right: 0px;
       margin-top: 70px;
}
}

